<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>534829666965-uivpgphgnbt156m7834gpdit3s4aplft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534829666965-uivpgphgnbt156m7834gpdit3s4aplft</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>534829666965-077skrlcpj7bp70d36jds86mcgo3hrin.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxEfXcrs8OIVEMaYaRjGyenFXlBVvP8WM</string>
	<key>GCM_SENDER_ID</key>
	<string>534829666965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gluonhq.otn.OTNApplication</string>
	<key>PROJECT_ID</key>
	<string>javaone16-e0f15</string>
	<key>STORAGE_BUCKET</key>
	<string>javaone16-e0f15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:534829666965:ios:f1c36ced64304d95</string>
	<key>DATABASE_URL</key>
	<string>https://javaone16-e0f15.firebaseio.com</string>
</dict>
</plist>